{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Librería - Lista de Libros</title>

<style>

body{
font-family: Arial;
background:#f5f5f5;
margin:40px;
}

h1{
text-align:center;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
padding:10px;
border:1px solid #ddd;
text-align:center;
}

th{
background:#333;
color:white;
}

tr:nth-child(even){
background:#f2f2f2;
}

a{
text-decoration:none;
padding:6px 10px;
border-radius:4px;
}

.crear{
background:green;
color:white;
}

.editar{
background:orange;
color:white;
}

.eliminar{
background:red;
color:white;
}

</style>

</head>
<body>

<h1>📚 Gestión de Libros</h1>

<br>

<!-- BUSCADOR -->
<form method="GET" action="/libros" style="text-align:center; margin-bottom:20px;">
    <input type="text" name="busqueda" placeholder="Buscar por título, autor o ISBN" value="{{ busqueda }}" style="padding:5px; width:250px;">
    <button type="submit" style="padding:5px 10px;">Buscar 🔍</button>
</form>

<a href="/libros/crear"
style="display:inline-block;background:#007bff;color:white;padding:10px 20px;text-decoration:none;border-radius:5px;margin:5px;">
➕ Agregar Libro
</a>

<a href="{{ url_for('libros.reporte_libros_pdf') }}"
style="display:inline-block;background:green;color:white;padding:10px 20px;text-decoration:none;border-radius:5px;margin:5px;">
📄 Descargar Reporte PDF
</a>

<br><br>



<table>

<tr>
<th>ID</th>
<th>ISBN</th>
<th>Titulo</th>
<th>Autor</th>
<th>Editorial</th>
<th>Año</th>
<th>Genero</th>
<th>Precio</th>
<th>Stock</th>
<th>Paginas</th>
<th>Idioma</th>
<th>Descripcion</th>
<th>Acciones</th>
</tr>

{% for libro in libros %}

<tr>

<td>{{ libro.id_libro }}</td>
<td>{{ libro.isbn }}</td>
<td>{{ libro.titulo }}</td>
<td>{{ libro.autor }}</td>
<td>{{ libro.editorial }}</td>
<td>{{ libro.anio_publicacion }}</td>
<td>{{ libro.genero }}</td>
<td>{{ libro.precio }}</td>
<td>{{ libro.stock }}</td>
<td>{{ libro.paginas }}</td>
<td>{{ libro.idioma }}</td>
<td>{{ libro.descripcion }}</td>

<td style="text-align:center; white-space:nowrap;">

<a href="/libros/editar/{{ libro.id_libro }}"
style="display:inline-block;width:95px;text-align:center;background:#03c20d;color:white;padding:6px 0;text-decoration:none;border-radius:4px;margin-right:5px;">
✏️ Editar
</a>

<a href="/libros/eliminar/{{ libro.id_libro }}"
onclick="return confirm('¿Estás seguro de que deseas eliminar este libro?')"
style="display:inline-block;width:95px;text-align:center;background:#dc3545;color:white;padding:6px 0;text-decoration:none;border-radius:4px;">
🗑️ Eliminar
</a>

</td>

</tr>

{% endfor %}

</table>

</body>
</html>
{% endblock %}





